<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Archaeological Site List</title>
</head>
<body>

<div>
    <!-- The form below should invoke the method ArchaeologicalSiteController.listAll -->
    <form id="filter-form" method="get" th:action="@{'/'}">

    <label for="name">Site Name</label>
        <input id="name" type="text" name="name"
               th:value="${name}"
               />

        <label for="areaSize">Site Area Size (in square meters)</label>
        <input id="areaSize" type="number" name="areaSize"
               th:value="${areaSize}"

        />

        <label for="rating">Rating</label>
        <input id="rating" type="number" step="0.1" min="0" max="10" name="rating"
               th:value="${rating}"   />

        <label for="period">Historical Period</label>
        <select id="period" name="period">
            <option value="">All</option>
            <!-- For each HistoricalPeriod you should have one <option> like below  -->
<!--            historicalPeriods??-->
            <option th:each="lvl : ${historicalPeriods}"
                    th:value="${lvl}"
                    th:text="${lvl}"
                    th:selected="${period != null && period == lvl}">
            </option>
        </select>

        <label for="location">SiteLocation</label>
        <select id="location" name="locationId">
            <option value="">All</option>
            <!-- For each location you should have one <option> like below  -->
<!--            <option>[location.city] , [location.country]</option>-->
            <option th:each="l : ${siteLocations}"
                    th:value="${l.getId()}"
                    th:text="${l.city + ','+ l.country}"
                    th:selected="${locationId != null && locationId == l.getId()}">
            </option>
        </select>

        <button id="filter" type="submit">Filter</button>
    </form>

    <div>
        <!-- ArchaeologicalSiteController.showAdd -->
        <a th:href="@{/archaeological-sites/add}" sec:authorize="hasRole('ADMIN')" class="add-item">Add new archaeological site</a>
    </div>

    <table>
        <tr>
            <th>Site Name</th>
            <th>Area Size</th>
            <th>Rating</th>
            <th>Historical Period</th>
            <th>SiteLocation</th>
            <th>Open/Closed</th>
            <th>Actions</th>
        </tr>
        <!-- For each archaeological site you should have one <tr> like below -->
        <tr th:each="s : ${page.getContent()}" class="item">
            <td  th:text="${s.getName()}">[site.name]</td>
            <td  th:text="${s.getAreaSize()}">[site.areaSize]</td>
            <td th:text="${s.getRating()}">[site.rating]</td>
            <td th:text="${s.getPeriod()}">[site.period]</td>
<!--            getHystoricalPeriod-->
            <td th:text="|${s.location.city},${s.location.country}|">[site.location.city], [site.location.country]</td>
<!--            {s.location.city}-->
            <td th:text="${s.isClosed()} ? 'CLOSED' : 'OPEN'">[site.closed] -> OPEN/CLOSED</td>
            <td>
                <!-- ArchaeologicalSiteController.edit -->
                <a  th:href="@{'/archaeological-sites/edit/{id}' (id=${s.getId()})}"
                    sec:authorize="hasRole('ADMIN')" class="edit-item">Edit</a>

                <!-- ArchaeologicalSiteController.delete -->
                <form th:action="@{'/archaeological-sites/delete/{id}' (id=${s.getId()})}"
                      sec:authorize="hasRole('ADMIN')" th:method="post">
                    <button type="submit" class="delete-item">Delete</button>
                </form>

                <!-- ArchaeologicalSiteController.close -->
                <form th:action="@{'/archaeological-sites/close/{id}' (id=${s.getId()})}"
                      th:method="post"
                      sec:authorize="hasRole('ADMIN')"
                      th:if="${!s.isClosed()}">
                    <button type="submit" class="close-item">Close</button>
                </form>

            </td>
        </tr>
    </table>
</div>

<div>
    <ul id="nav">
        <li><a href="/">Home</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</div>

</body>
</html>
